name: repo-sunsetter main action
on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  run-repo-sunsetter:
    runs-on: ubuntu-latest
    steps:
      - name: Run repo-sunsetter
        id: archive
        uses: DSACMS/repo-sunsetter@DSACMS/nat/mvp
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
