name: repo-sunsetter main action
on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  update-code-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run repo-sunsetter
        id: archive
        uses: DSACMS/repo-sunsetter@DSACMS/nat/mvp
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
